/* ==========================================================================
   Forms - Widgets
   ========================================================================== */

/* Hidden
   ========================================================================== */
.form-widget--hidden {
    display: none;
}


/* Select
   ========================================================================== */
.form-widget--select {
}

/* Choices
   ========================================================================== */
.form-widget--choices {
}

.form-widget--choices--filled {
}


/* Widget - File Upload
   ========================================================================== */
.form-widget--file-upload {
}

/* Text area
   ========================================================================== */



/*doc
---
title: Form Widgets
name: 05_widgets
category: Forms
---


```html_example
```
*/
